/* 改变主题色变量 */
$--color-primary: #44B549;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";
.el-input{
    width: 100%
}
.el-input__inner{    
    height:32px;
    background:rgba(255,255,255,1);
    border-radius:4px;
    border:1px solid rgba(0,0,0,0.15);
    line-height: 32px
}


.el-input__icon{
    line-height: 32px
}

.el-table--border td, .el-table--border th, .el-table__body-wrapper .el-table--border.is-scrolling-left~.el-table__fixed{
    border:none
}
.el-table--border, .el-table--group{
    border: none
}
.el-table::before{
    height: 0;
}
.el-table thead tr th{
    background:#F6F7FF;
    border-top: 1px solid rgba(231,231,235,1);
    border-bottom: 1px solid rgba(231,231,235,1);
    
}
.el-table th>.cell{
    font-size:14px;
    font-weight:600;
    color:rgba(28,28,28,1);
}
.el-table td{
    padding: 9px 0
}
.el-table td .cell{
    padding: 0;
    color: #1C1C1C;
    font-size: 14px
}
.el-message-box{
    width: 271px
}
.el-message-box span{
    font-size: 14px!important
}
.el-message-box__btns{
    margin-top: 20px
}
.el-message-box__btns button:nth-child(2){
    margin-left: 50px
}

//分页
.el-pagination.is-background .btn-prev, .el-pagination.is-background .btn-next, .el-pagination.is-background .el-pager li{
    border-radius: 50%;
    height: 30px;
    line-height: 30px
}